
body{
   align-items: center;
    background-color: #000;
    background-position:center;
    font-family: Arial, sans-serif;   
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px ;
    background-color:rgb(12, 246, 246);
    border-radius: 10px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1{
    margin-top: 0;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    
}
input[type="text"]{
    padding: 8px;
    font-size: 16px;
    border: 3px solid #1b1c1d;
    border-radius: 2px solid #d8ee5e;
    width: 80%;
    
}
button{
    padding:  8px 20px;
    background-color: #000;
    color: #fff;
    border-color: rgb(16, 17, 17);
    box-shadow: #ffffff;
    cursor: pointer;
}

button:hover{
    background-color: #253ecc;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child{
    margin-bottom: 0px;
}

.delete-todo-btn{
    background-color: rgb(224, 29, 29);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-todo-btn:hover{
    background-color: #fe0505;

}